<!-- extend the base.html to index.html  -->
{% extends 'app1/base.html' %}
<!-- I need to load static here again after the extends for the images to show  -->
{% load static %}

{% block title %}
Blog
{% endblock %}

{% block content %}

    <!--//header-->

    <!-- banner section -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-2">Blog Page</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Blog</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //content section -->

    <!-- blog section -->
    {% include 'app1/includes/list_post.html' %}
    <!-- //blog section -->

    {% endblock %}
    