<!-- extend the base.html to services.html  -->
{% extends 'app1/base.html' %}
<!-- I need to load static here again after the extends for the images to show  -->
{% load static %}

{% block title %}
Services
{% endblock %}

{% block content %}
    <!--//header-->

    <!-- inner banner -->
    <div class="inner-banner">
        <div class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-2">Services</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Services
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //inner banner -->

    <!-- services section -->
    {% include 'app1/includes/services.html' %}
    <!-- //services section -->

    <!-- content with bg -->
    <section class="w3l-content-bg">
        <div class="container py-md-5 py-4">
            <div class="row py-5">
                <div class="col-md-7">
                    <div class="left-content-bg">
                        <p class="text-tag">Industrial Theme</p>
                        <h4 class="text-head-content">You can request for call back, we will call !</h4>
                        <a class="btn btn-style mt-4" href="{% url 'app1:contact' %}">Request for call back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //content with bg -->

    <!-- image with content section -->
    <section class="w3l-content-4 py-5" id="features">
        <div class="content-4-main py-lg-5 py-md-4 py-2">
            <div class="container HPCWP">
                <div class="content-info-in row">
                    <div class="content-left col-lg-6">
                        <img src="{% static 'app1/images/services.jpg' %}" alt="" class="img-fluid img-responsive">
                    </div>
                    <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-md-5 mt-5 align-self">
                        <div class="row content4-right-grids mb-lg-5 mb-5">
                            <div class="col-2 content4-right-icon">
                                <div class="content4-icon">
                                    <i class="fas fa-fire"></i>
                                </div>
                            </div>
                            <div class="col-10 content4-right-info">
                                <h6><a href="#url">
                                        Research & Analysis</a>
                                </h6>
                                <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                    consectetur
                                    adipisicing.</p>
                            </div>
                        </div>
                        <div class="row content4-right-grids mb-lg-5 mb-5">
                            <div class="col-2 content4-right-icon">
                                <div class="content4-icon">
                                    <span class="fa fa-cogs"></span>
                                </div>
                            </div>
                            <div class="col-10 content4-right-info">
                                <h6><a href="#url">
                                        The Best Industry Services</a>
                                </h6>
                                <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                    consectetur
                                    adipisicing.</p>
                            </div>
                        </div>
                        <div class="row content4-right-grids">
                            <div class="col-2 content4-right-icon">
                                <div class="content4-icon">
                                    <i class="fas fa-solar-panel"></i>
                                </div>
                            </div>
                            <div class="col-10 content4-right-info">
                                <h6><a href="#url">
                                        Quality Products</a>
                                </h6>
                                <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                    consectetur
                                    adipisicing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //image with content section -->

    <!-- //footer -->

    {% endblock %}