<!-- extend the base.html to about.html  -->
{% extends 'app1/dashboard/base.html' %}
<!-- I need to load static here again after the extends for the images to show  -->
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- //header-ends -->

<!--content-->
<div class="content">

	<!--//area-->
	<div class="col-md-5 skil">
		<div class="content-top-1">
			<div class="col-md-6 top-content">
				<h5>Tasks</h5>
				<label>8761</label>
			</div>
			<div class="col-md-6 top-content1">
				<div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value">25%</span>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="content-top-1">
			<div class="col-md-6 top-content">
				<h5>Points</h5>
				<label>6295</label>
			</div>
			<div class="col-md-6 top-content1">
				<div id="demo-pie-2" class="pie-title-center" data-percent="50"> <span class="pie-value">50%</span>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="content-top-1">
			<div class="col-md-6 top-content">
				<h5>Cards</h5>
				<label>3401</label>
			</div>
			<div class="col-md-6 top-content1">
				<div id="demo-pie-3" class="pie-title-center" data-percent="75"> <span class="pie-value">75%</span>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="col-md-7 mid-content-top">
		<div class="middle-content">
			<h3>Latest Products
			</h3>
			<!-- start content_slider -->
			<div id="owl-demo" class="owl-carousel text-center">
				<div class="item">
					<img class="lazyOwl img-responsive" data-src="{% static 'app1/dashboard/images/na.jpg' %}"
						alt="name">
				</div>
				<div class="item">
					<img class="lazyOwl img-responsive" data-src="{% static 'app1/dashboard/images/na1.jpg' %}"
						alt="name">
				</div>
				<div class="item">
					<img class="lazyOwl img-responsive" data-src="{% static 'app1/dashboard/images/na2.jpg' %}"
						alt="name">
				</div>
				<div class="item">
					<img class="lazyOwl img-responsive" data-src="{% static 'app1/dashboard/images/na.jpg' %}"
						alt="name">
				</div>
				<div class="item">
					<img class="lazyOwl img-responsive" data-src="{% static 'app1/dashboard/images/na1.jpg' %}"
						alt="name">
				</div>
				<div class="item">
					<img class="lazyOwl img-responsive" data-src="{% static 'app1/dashboard/images/na2.jpg' %}"
						alt="name">
				</div>
				<div class="item">
					<img class="lazyOwl img-responsive" data-src="{% static 'app1/dashboard/images/na.jpg' %}"
						alt="name">
				</div>

			</div>
		</div>
		
	</div>
	<div class="clearfix"></div>

</div>
<!--//area-->

<!--//content-inner-->
<!--/sidebar-menu-->
{% endblock %}